@model IEnumerable<AptitudeTest.WebApp.Models.QnA>

@{
    ViewData["Title"] = "AllQnA";
}

<h1>All QnA</h1>

@if (TempData["Success"] != null)
{
    <h2 class="text-success">@TempData["Success"]</h2>
}

<p>
    <a asp-action="CreateAllQnA">Create New QnA</a>
</p>

<div>
    <form method="post" asp-action="AllQnA">
        <select name="findByExam">
            <option value="">---Select Exam---</option>
            <option value="1">General Knowledge</option>
            <option value="2">Mathematics</option>
            <option value="3">Computer Technology</option>
        </select>
        <input name="findByName" placeholder="Find by Question" />
        <button type="submit">Find</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Exam Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option4)
            </th>
            <th>
                The correct Answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option4)
                </td>
                <td>
                   Option @item.TheAnswer
                </td>
                <td>
                    <a asp-controller="Manager" asp-action="UpdateAllQnA" asp-route-id="@item.Id">Update</a> |
                    <a asp-controller="Manager" asp-action="DeleteQnA" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
