@model IEnumerable<AptitudeTest.WebApp.Models.PassingResult>

@{
    ViewData["Title"] = "PassingResult";
}

<h1>Passing Candidate and Ready for HR</h1>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.GeneralKnowledgeResult)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.MathematicsResult)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.ComputerTechnologyResult)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.GeneralKnowledgeResult)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.MathematicsResult)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.ComputerTechnologyResult)
                </td>
                <td>
                    <a asp-action="DetailCandidate" asp-route-id="@item.UserId">Detail Candidate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
