@model SendOTPViewModel

<div class="container">
    <div class="login-box" style="margin: 100px 200px">
        <div class="card">
            <div class="card-body login-card-body">
                @using (Html.BeginForm("VerifyOTP", "Authenticate", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.OTP)
                        @Html.TextBoxFor(m => m.OTP, new { @class = "form-control" })
                        @Html.ValidationMessage("OTP")
                    </div>
                    <button type="submit" class="btn btn-primary" style="border-radius: 30px; margin-left: 40%">Verify OTP</button>
                }
            </div>
        </div>
    </div>
</div>

